#chat-container {
	width:100%;
	height:500px;
	border: solid 1px grey;
	margin-bottom:10px;
	overflow-y: auto;
}

.gg {
	border: none;
}

.chat-row {
	width:100%;
	overflow: hidden;
	margin-bottom: 2px;
	margin-top: 2px;
}

.chat-msg {
	max-width:75%;
	border-radius: 5px;
	word-wrap:break-word;
	padding: 5px;
}

.me {
	background-color: #E1BEE7;
	float: right;
	text-align: right;
	margin-right: 5px;	
	padding-left: 5px;
}

.other {
	background-color: #BBDEFB;
	float: left;
	text-align: left;
	margin-left: 5px;
	padding-right: 5px;
}

.author {
	font-weight: bold;
	font-size: 12px;
}